@import 'tailwindcss';
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";


@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source "../../node_modules/flowbite";


@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

@layer components {
   [ x-cloak ] {
        @apply hidden;
    }
    .container {
        @apply mx-auto px-6 sm:px-6 lg:px-36;
        max-width: 1280px;
    }

    input[type="number"] {
        @apply [appearance:textfield];
    }

    /* Remove spinner buttons in WebKit browsers */
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Remove spinner buttons in Firefox */
    input[type="number"] {
        -moz-appearance: textfield;
    }
}
